In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame([["rohit", "rakesh", "rohan"], ["suman", "sanjay", "sonu"]], columns=["A", "B", "C"], index=None)
print(df)

       A       B      C
0  rohit  rakesh  rohan
1  suman  sanjay   sonu

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [13]:
df.columns.to_list()

['A', 'B', 'C']

In [10]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [11]:
df.index.to_list

In [12]:
df.index.to_list()

[0, 1]

In [14]:
df.info

<bound method DataFrame.info of        A       B      C
0  rohit  rakesh  rohan
1  suman  sanjay   sonu>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      object
 1   B       2 non-null      object
 2   C       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [16]:
df.describe()

            A       B      C
count       2       2      2
unique      2       2      2
top     rohit  rakesh  rohan
freq        1       1      1

In [17]:
df.describe

<bound method NDFrame.describe of        A       B      C
0  rohit  rakesh  rohan
1  suman  sanjay   sonu>

In [18]:
df.shape

(2, 3)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      object
 1   B       2 non-null      object
 2   C       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [20]:
df.size

6