# Accessing Data with Pandas

In [1]:
import pandas as pd

In [2]:
coffee=pd.read_csv('./src/warmup-data/coffee.csv')

In [3]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [4]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [5]:
coffee.day

AttributeError: 'DataFrame' object has no attribute 'day'

In [19]:
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [20]:
coffee

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [21]:
coffee.Coffee Type

SyntaxError: invalid syntax (3384666599.py, line 1)

In [22]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [23]:
coffee["Coffee Type"]

0     Espresso
1        Latte
2     Espresso
3        Latte
4     Espresso
5        Latte
6     Espresso
7        Latte
8     Espresso
9        Latte
10    Espresso
11       Latte
12    Espresso
13       Latte
Name: Coffee Type, dtype: object

In [24]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [25]:
coffee.Units Sold

SyntaxError: invalid syntax (77515946.py, line 1)

In [26]:
coffee["Units Sold"]

0     25
1     15
2     30
3     20
4     35
5     25
6     40
7     30
8     45
9     35
10    45
11    35
12    45
13    35
Name: Units Sold, dtype: int64

In [27]:
bios=pd.read_csv("./src/data/bios.csv")

In [28]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [29]:
bios.tail()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
145495,149222,Polina Luchnikova,2002-01-30,Serov,Sverdlovsk,RUS,ROC,167.0,61.0,NaN
145496,149223,Valeriya Merkusheva,1999-09-20,Moskva (Moscow),Moskva,RUS,ROC,168.0,65.0,NaN
145497,149224,Yuliya Smirnova,1998-05-08,Kotlas,Arkhangelsk,RUS,ROC,163.0,55.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18
145499,149814,Bill Phillips,1913-07-15,Dulwich Hill,New South Wales,AUS,Australia,NaN,NaN,2003-10-20

In [30]:
bios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   athlete_id    145500 non-null  int64
 1   name          145500 non-null  object
 2   born_date     143693 non-null  object
 3   born_city     110908 non-null  object
 4   born_region   110908 non-null  object
 5   born_country  110908 non-null  object
 6   NOC           145499 non-null  object
 7   height_cm     106651 non-null  float64
 8   weight_kg     102070 non-null  float64
 9   died_date     33940 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.1+ MB

In [31]:
bios.loc[bios['height_cm']> 216]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5089,5108,Viktor Pankrashkin,1957-06-19,Moskva (Moscow),Moskva,RUS,Soviet Union,220.0,112.0,1993-07-24
5583,5606,Paulinho Villas Boas,1963-01-26,São Paulo,São Paulo,BRA,Brazil,217.0,106.0,NaN
5673,5696,Gunther Behnke,1963-01-19,Leverkusen,Nordrhein-Westfalen,GER,Germany,221.0,114.0,NaN
5716,5739,Uwe Blab,1962-03-26,München (Munich),Bayern,GER,Germany West Germany,218.0,110.0,NaN
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
5796,5819,Andy Campbell,1956-07-21,Melbourne,Victoria,AUS,Australia,218.0,93.0,NaN
6420,6451,Jānis Krūmiņš,1930-01-30,Cēsis,Cēsu novads,LAT,Soviet Union,218.0,141.0,1994-11-20
6504,6537,Luc Longley,1969-01-19,Melbourne,Victoria,AUS,Australia,220.0,135.0,NaN
6978,7013,Arvydas Sabonis,1964-12-19,Kaunas,Kaunas,LTU,Lithuania Soviet Union,223.0,122.0,NaN
7074,7111,Paulo da Silva,1963-07-21,São Paulo,São Paulo,BRA,Brazil,217.0,106.0,NaN
7188,7226,Vladimir Tkachenko,1957-09-20,Golovinka,Krasnodar Kray,RUS,Soviet Union,220.0,110.0,NaN
7281,7320,Stojko Vranković,1964-01-22,Drniš,Šibensko-kninska županija,CRO,Croatia Yugoslavia,217.0,115.0,NaN
7376,7416,Eurelijus Žukauskas,1973-08-22,Klaipėda,Klaipėda,LTU,Lithuania,218.0,115.0,NaN
52608,52983,Aleksey Kazakov,1976-03-18,Naberezhnye Chelny,Respublika Tatarstan,RUS,Russian Federation,217.0,102.0,NaN
82100,82753,Frédéric Weis,1977-06-22,Thionville,Moselle,FRA,France,218.0,110.0,NaN
89070,89782,Yao Ming,1980-09-12,Xuhui District,Shanghai,CHN,People's Republic of China,226.0,141.0,NaN
89075,89787,Roberto Dueñas,1975-11-01,Madrid,Madrid,ESP,Spain,221.0,137.0,NaN
107408,108533,Peter John Ramos,1985-05-23,Fajardo,Puerto Rico,PUR,Puerto Rico,219.0,113.0,NaN
112312,113568,Stanko Barać,1986-08-13,Mostar,Hercegovačko-neretvanski kanton,BIH,Croatia,217.0,110.0,NaN
112337,113593,Hamed Haddadi,1985-05-19,Ahvaz,Khuzestan,IRI,Islamic Republic of Iran,218.0,110.0,NaN
118676,120415,Dmitry Musersky,1988-10-29,Makiïvka,Donetsk,UKR,Russian Federation,219.0,104.0,NaN
120266,122147,Zhang Zhaoxu,1987-11-18,Binzhou,Shandong,CHN,People's Republic of China,221.0,110.0,NaN
130460,133147,Li Muhao,1992-06-02,Guiyang,Guizhou,CHN,People's Republic of China,218.0,115.0,NaN
130461,133148,Zhou Qi,1996-01-16,Xinxiang,Henan,CHN,People's Republic of China,217.0,95.0,NaN
139365,142836,Moustapha Fall,1992-02-23,Paris,Paris,FRA,France,218.0,NaN,NaN

In [34]:
bios.loc[bios['height_cm']> 216 and bios['height_cm'] < 217]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Filtering Data

In [35]:
bios.loc[bios['height_cm']> 216, ['name', 'height_cm']]

                         name  height_cm
5089       Viktor Pankrashkin      220.0
5583     Paulinho Villas Boas      217.0
5673           Gunther Behnke      221.0
5716                 Uwe Blab      218.0
5781           Tommy Burleson      223.0
5796            Andy Campbell      218.0
6420            Jānis Krūmiņš      218.0
6504              Luc Longley      220.0
6978          Arvydas Sabonis      223.0
7074           Paulo da Silva      217.0
7188       Vladimir Tkachenko      220.0
7281         Stojko Vranković      217.0
7376      Eurelijus Žukauskas      218.0
52608         Aleksey Kazakov      217.0
82100           Frédéric Weis      218.0
89070                Yao Ming      226.0
89075          Roberto Dueñas      221.0
107408       Peter John Ramos      219.0
112312           Stanko Barać      217.0
112337          Hamed Haddadi      218.0
118676        Dmitry Musersky      219.0
120266           Zhang Zhaoxu      221.0
130460               Li Muhao      218.0
130461                Zhou Qi      217.0
139365         Moustapha Fall      218.0

In [36]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [38]:
bios.loc[bios['born_city']=='Meulan']

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
36583,36876,René Boucher,1928-12-01,Meulan,Yvelines,FRA,France,NaN,NaN,2018-11-03
89182,89894,Frédéric Esther,1972-06-08,Meulan,Yvelines,FRA,France,176.0,71.0,NaN
120970,122932,Rahamatou Dramé,1985-04-01,Meulan,Yvelines,FRA,Mali,168.0,55.0,NaN
131061,133823,Élie Konki,1992-04-06,Meulan,Yvelines,FRA,France,170.0,52.0,NaN
139397,142869,Julien Mertine,1988-06-25,Meulan,Yvelines,FRA,France,NaN,NaN,NaN

In [39]:
bios.loc[bios['born_city']=='Meulan', ['name', 'born_date', 'born_city']]

                   name   born_date born_city
1        Arnaud Boetsch  1969-04-01    Meulan
36583      René Boucher  1928-12-01    Meulan
89182   Frédéric Esther  1972-06-08    Meulan
120970  Rahamatou Dramé  1985-04-01    Meulan
131061       Élie Konki  1992-04-06    Meulan
139397   Julien Mertine  1988-06-25    Meulan

In [40]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

In [41]:
# filter by country name
bios.loc[bios['NOC']=='France', ['name', 'born_city', 'born_date', 'NOC']]

                         name         born_city   born_date     NOC
0       Jean-François Blanchy          Bordeaux  1886-12-12  France
1              Arnaud Boetsch            Meulan  1969-04-01  France
2                Jean Borotra          Biarritz  1898-08-13  France
3             Jacques Brugnon       Paris VIIIe  1895-05-11  France
4                Albert Canet        Wandsworth  1878-04-17  France
...                       ...               ...         ...     ...
144646         Alexia Queyrel  Clermont-Ferrand  1999-06-03  France
144647      Léo Le Blé Jaques   Chêne-Bougeries  1997-01-02  France
144648            Liam Tourki          Grenoble  1999-03-25  France
144649      Gwendoline Daudet  Nogent-sur-Marne  1998-11-28  France
145498         André Foussard             Niort  1899-05-19  France

[6339 rows x 4 columns]

In [42]:
bios.loc[bios['weight_kg']==60, ['name', 'NOC', 'weight_kg', 'born_date']]

                         name                   NOC  weight_kg   born_date
139           Steffen Fetzner  Germany West Germany       60.0  1968-08-17
201            Lo Chuen Tsung      Hong Kong, China       60.0  1963-10-08
203              Vong Lu Veng      Hong Kong, China       60.0  1950-03-12
207               Andrea Dakó               Hungary       60.0  1972-08-12
253           Tri Kusharyanto             Indonesia       60.0  1974-01-18
...                       ...                   ...        ...         ...
144527            Lisa Jensen               Denmark       60.0  1997-02-26
144626         Carola Niemelä               Finland       60.0  1999-02-11
144627  Coralie Frasse Sombet                France       60.0  1991-04-08
144752             Sára Pónya               Hungary       60.0  1999-05-14
145056    Yevgeniya Burtasova                   ROC       60.0  1993-07-09

[3728 rows x 4 columns]

In [44]:
# get weight in another way
bios[bios['weight_kg']==60]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
139,140,Steffen Fetzner,1968-08-17,Karlsruhe,Baden-Württemberg,GER,Germany West Germany,170.0,60.0,NaN
201,202,Lo Chuen Tsung,1963-10-08,NaN,NaN,NaN,"Hong Kong, China",170.0,60.0,NaN
203,204,Vong Lu Veng,1950-03-12,NaN,NaN,NaN,"Hong Kong, China",170.0,60.0,NaN
207,208,Andrea Dakó,1972-08-12,Budapest,Budapest,HUN,Hungary,165.0,60.0,NaN
253,254,Tri Kusharyanto,1974-01-18,Yogyakarta,Daerah Istimewa Yogyakarta,INA,Indonesia,167.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144527,148219,Lisa Jensen,1997-02-26,NaN,NaN,NaN,Denmark,165.0,60.0,NaN
144626,148318,Carola Niemelä,1999-02-11,Rauma,Satakunta,FIN,Finland,162.0,60.0,NaN
144627,148320,Coralie Frasse Sombet,1991-04-08,NaN,NaN,NaN,France,163.0,60.0,NaN
144752,148453,Sára Pónya,1999-05-14,Esztergom,Komárom-Esztergom,HUN,Hungary,169.0,60.0,NaN
145056,148768,Yevgeniya Burtasova,1993-07-09,Guryevsk,Kemerovo,RUS,ROC,168.0,60.0,NaN

In [45]:
# Get a Specific column
bios[bios['height_cm']==166]['name', 'born_date', 'height_cm', 'weight_kg', 'NOc']

KeyError: ('name', 'born_date', 'height_cm', 'weight_kg', 'NOc')

In [50]:
# Get a Specific column
bios[bios['height_cm']>160]['name', 'born_date', 'height_cm', 'weight_kg']

KeyError: ('name', 'born_date', 'height_cm', 'weight_kg')

In [51]:
# Get a Specific column
bios[bios['height_cm']>160][['name', 'born_date', 'height_cm', 'weight_kg']]

                       name   born_date  height_cm  weight_kg
1            Arnaud Boetsch  1969-04-01      183.0       76.0
2              Jean Borotra  1898-08-13      183.0       76.0
3           Jacques Brugnon  1895-05-11      168.0       64.0
5         Nicolas Chatelain  1970-01-13      181.0       70.0
6             Patrick Chila  1969-11-27      180.0       73.0
...                     ...         ...        ...        ...
145494        George Wright  1890-07-21      183.0        NaN
145495    Polina Luchnikova  2002-01-30      167.0       61.0
145496  Valeriya Merkusheva  1999-09-20      168.0       65.0
145497      Yuliya Smirnova  1998-05-08      163.0       55.0
145498       André Foussard  1899-05-19      166.0        NaN

[99691 rows x 4 columns]

In [52]:
# and operator
bios[(bios['height_cm']>160) & (bios['born_country'=='USA'])]

KeyError: False

In [54]:
# and operator
bios[(bios['height_cm']>160) & (bios['born_country']=='USA')]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
54,55,Monique Javer,1967-07-22,Burlingame,California,USA,Great Britain,177.0,64.0,NaN
960,964,Xóchitl Escobedo,1968-09-17,West Covina,California,USA,Mexico,170.0,60.0,NaN
1345,1352,Laura Berg,1975-01-06,Santa Fe Springs,California,USA,United States,168.0,61.0,NaN
1346,1353,Gillian Boxx,1973-09-01,Fontana,California,USA,United States,170.0,NaN,NaN
1356,1363,Sheila Cornell-Douty,1962-02-26,Encino,California,USA,United States,175.0,81.0,NaN
...,...,...,...,...,...,...,...,...,...,...
144388,148078,Zhang Xifang,2000-12-20,Commerce Township,Michigan,USA,People's Republic of China,165.0,63.0,NaN
144398,148088,Jian An,1990-09-15,Irvine,California,USA,People's Republic of China,187.0,86.0,NaN
144400,148090,Shimisi Jieruimi,1989-04-13,Dearborn,Michigan,USA,People's Republic of China,183.0,80.0,NaN
144977,148686,Atle Lie McGrath,2000-04-21,Burlington,Vermont,USA,Norway,182.0,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN